#koptext{
    font-family: Helvetica, Sans-Serif;
    background-color:white;
    border-radius: 25%;
}

.container{
    display: flex;

}

.col{
    margin: 2px;
}

.button{
    width: 300px;
    height: 200px;
    background-color: red;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.button span{

    font-size: 2em;
    font-family: Helvetica, Sans-Serif;
}

ul{
    font-family: Helvetica, Sans-Serif;
    background-color: orangered;
    padding-top: 20px;
    padding-bottom: 20px;
}

li{
    
    display: inline;
    color: black;
}


li a{

    padding: 10px;
text-decoration: none;
color: white;
}

table{
    font-family: Helvetica, Sans-Serif;
    color: white;
    background-color: orangered;
border-radius: 15px;
padding-bottom: 25px;
}

th{
padding: 10px;
text-align: left;
}

td{
text-align: left;

}